.result-container{
      margin:20px;
      padding: 0px 50px;
      background-color: var(--bgColor_light);
      box-shadow: 0px 0px 10px -3px black;
      border-radius: 20px;
}
#documentVisualizer{
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      padding: 0px 0px
}

/* Popup per la visualizzazione del documento */
section.popup-section{
      padding: 0px;
}
.doc-popup-container {
      display: none;
      position: fixed;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
      background-color: transparent;
      width: 65%;
      height: 80%;
      color: white;
}
.doc-popup-container iframe {
      background-color: white;
      border: 0px;
      color: black;
}
.doc-popup-container.search iframe {
      width: 100%;
      height: 100%;
}
.doc-popup-container.personal iframe {
      height: 80%;
      width: 47%;
      margin: 1%;
}
.doc-popup-container h2 {
      font-size: x-large;
      height: 30px;
      width: 80%;
      max-width: 80%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: white;
}
.doc-popup-close {
      float: right;
      margin-top: 12px;
      vertical-align: middle;
      color: white;
      border: 2px solid #ff0000;
      border-radius: 10px;
      background-color: #8b0000;
      background-image: none;
}
.doc-popup-close:hover {
      border-color: #ff1010;
      background-color: #ff0000;
}
/* Da creare sotto il popup, così da bloccare il l'accesso a tutto ciò che è sullo sfondo */
.doc-popup-container-mask {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.85); 
      z-index: 9998;
}
.doc-popup-container.active,
.doc-popup-container-mask.active {
      display: block;
}
.doc-update-button{
      background-color: greenyellow;
}
.doc-update-button:hover{
      background-color: green;
}
.doc-delete-button{
      background-color: rgb(252, 62, 62);
}
.doc-delete-button:hover{
      background-color: red;
}

