
.doc-block-container{
      border-color: var(--primary);
      border-radius: 0px;

      padding: 20px 2%;
      width: 42%;
      margin-bottom: 2%;
      margin-left: 2%;
      margin-right: 2%;

      overflow: hidden;
      position: relative;

      background-size: 300% 105%;
      border-bottom-width: 5px;
      border-top-width: 5px;
      transition: 0.2s;
}
.doc-block-container:hover{
      background-position: right center;
      border-left-width: 0px;
      color: var(--bgColor);
}
.doc-block-container:nth-child(4n+1), 
.doc-block-container:nth-child(4n+4){
      background-image: linear-gradient(90deg, var(--primary) 40%, var(--secondary_light) 60%);
}
.doc-block-container:nth-child(4n+2),
.doc-block-container:nth-child(4n+3){
      background-image: linear-gradient(90deg, var(--primary_dark) 40%, var(--secondary_light) 60%);
}


/* Titolo del documento */
.doc-block-title{
      font-size: larger;
      margin: 0px 0px 0px 20px;
      display: inline;
}
.doc-block-title:hover{
      color: var(--bgColor_light);
}
.doc-block-subtitle{
      font-size: medium;
      margin: 0px;
      display: inline;
}

/* Autore del documento */
.doc-block-owner{
      font-style: italic;
}

/* Materia del documento */
.doc-block-subject{
      text-decoration: dashed;
}

/* Corso di Studi del documento */
.doc-block-degree{
      text-decoration: underline;
}

/* Informazioni 'temporali' sul documento (upload e ultima modifica) */
.doc-block-dateinfo{
      font-style: italic;
      font-size: smaller;
}

/* Numero di donwload */
.doc-block-downloads{
      font-weight: bold;
}

/* Bottone per la cancellazione del documento */
.doc-block-deleteButton{
      background-color: red;
      background-image: none;
}
.doc-block-deleteButton:hover{
      background-color: darkred;
}