#documentVisualizer{
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
}

/* Popup per la visualizzazione del documento */

.doc-popup-container {
      display: none;
      position: fixed;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
      background-color: none;
      width: 60%;
      height: 80%;
}
.doc-popup-container iframe {
      width: 100%;
      height: 100%;
      background-color: black;
      color: white;
}
.doc-popup-container h1 {
      float: left;
      margin: 12px 0px; 
      font-size: x-large;
      height: 30px;
      width: 80%;
      max-width: 80%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: white;
}
.doc-popup-container button {
      float: right;
      margin-top: 12px;
      vertical-align: middle;
      padding: 5px;
      width: auto;
      height: auto;
      color: white;
      border-radius: 15px;
      background-color: red;
      background-image: none;
}
.doc-popup-container button:hover {
      background-color: darkred;
}
/* Da creare sotto il popup, così da bloccare il l'accesso a tutto ciò che è sullo sfondo */
.doc-popup-container-mask {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.85); 
      z-index: 9998;
}
.doc-popup-container.active,
.doc-popup-container-mask.active {
      display: block;
}

