
.doc-block-container{
      border-color: var(--primary);
      border-radius: 5px;

      flex-basis: calc(88% / 3);
      padding: 25px 1% 0px 1%;
      margin: 1% 1%;

      overflow: hidden;

      transition: 0.2s;
}
/* Cambio il numero di colonne a seconda della larghezza della pagina */
@media (max-width: 1200px) {
      .doc-block-container{
            flex-basis: 42%;
            padding: 25px 2% 0px 2%;
            margin: 2% 2%;
      }
}  
@media (max-width: 700px) {
      .doc-block-container{
            flex-basis: 92%;
            padding: 25px 2% 0px 2%;
            margin: 2% 2%;
      }
}
.doc-block-container:nth-child(odd){
      background-color: var(--primary);
}
.doc-block-container:nth-child(even){
      background-color: var(--primary_dark);
}
.doc-block-container:hover{
      background-color: var(--secondary);
}
.doc-block-container span:nth-child(1){
      font-variant: small-caps;
}
.doc-block-container span:nth-child(2){
      font-weight: bold;
}
.doc-block-container button{
      background-color: var(--bgColor);
}
.doc-block-container button:hover{
      background-color: var(--primary);
}


/* Titolo del documento */
.doc-block-title{
      font-size: larger;
      margin: 0px 0px 0px 20px;
      display: inline;
}
.doc-block-subtitle{
      font-size: medium;
      margin: 0px;
      display: block;
}

/* Autore del documento */
.doc-block-owner{
      font-style: italic;
}

/* Materia del documento */
.doc-block-subject{
      text-decoration: dashed;
}

/* Corso di Studi del documento */
.doc-block-degree{
      text-decoration: underline;
}

/* Informazioni 'temporali' sul documento (upload e ultima modifica) */
.doc-block-dateinfo {
      line-height: 10px;
}
.doc-block-dateinfo *:nth-child(2){
      font-style: italic;
      font-size: smaller;
}

/* Numero di donwload */
.doc-block-downloads{
      
}

/* Bottone per la modifica del documento */
.doc-block-updateButton{
      background-color: green;
      background-image: none;
}
.doc-block-updateButton:hover{
      background-color: lime;
}

/* Bottone per la cancellazione del documento */
.doc-block-deleteButton{
      background-color: red;
      background-image: none;
}
.doc-block-deleteButton:hover{
      background-color: darkred;
}