
.doc-compact-container{
      border-color: var(--primary);
      border-radius: 0px;

      display: block;

      padding: 20px 2%;
      width: 92%;
      margin-top: 2px;
      margin-bottom: 2px;
      margin-left: 2%;
      margin-right: 2%;

      overflow: hidden;
      position: relative;

      background-size: 300% 105%;
      transition: 0.1s;
}
.doc-compact-container:hover{
      background-position: right center;
      border-left-width: 0px;
}
.doc-compact-container:nth-child(even){
      background-image: linear-gradient(90deg, var(--primary) 40%, var(--bgColor_light) 60%);
}
.doc-compact-container:nth-child(odd){
      background-image: linear-gradient(90deg, var(--primary_dark) 40%, var(--bgColor_light) 60%);
}
.doc-compact-container > .additional-info-container{
      display: none;
      font-size: medium;
      flex-wrap: wrap;
      align-items: flex-start; 
      margin-top: 20px;
}

.additional-info-container *{
      flex-grow: 0;
      flex-shrink: 0;
      height: 30px;
      flex-basis: calc(33% - 10px);
      box-sizing: border-box; 
      margin: 5px;
}

/* Cambio il numero di colonne a seconda della larghezza della pagina */
@media (max-width: 1200px) {
      .additional-info-container *{
            flex-basis: calc(50% - 10px);
      }
}  
@media (max-width: 800px) {
      .additional-info-container * {
            flex-basis: calc(100% - 10px);
      }
}


.doc-compact-container.vizualizing{ 
      margin-top: 10px;
      margin-bottom: 10px;
}
.doc-compact-container.vizualizing > .additional-info-container{
      display: flex;
}

.additional-info-container span:nth-child(2){
      font-weight: bold;
}

/* Titolo del documento */
.doc-compact-title{
      font-size: larger;
      margin: 0px 0px 0px 20px;
      display: inline;
}
.doc-compact-subtitle{
      
}

/* Autore del documento */
.doc-compact-owner{
      
}

/* Materia del documento */
.doc-compact-subject{
      
}

/* Corso di Studi del documento */
.doc-compact-degree{
      
}

/* Informazioni 'temporali' sul documento (upload e ultima modifica) */
.doc-compact-dateinfo{
      font-style: italic;
}

/* Numero di donwload */
.doc-compact-downloads{
      
}

/* Vari bottoni */
.additional-info-container button{
      margin: auto;
}

/* Bottone per la cancellazione del documento */
.doc-compact-deleteButton{
      background-color: red;
      background-image: none;
}
.doc-compact-deleteButton:hover{
      background-color: darkred;
}