footer{
      /* position: fixed; */ 
      left: 0;
      bottom: 0;
      padding: 10px;
      height: auto;
      width: 100%;
      background-color: var(--bgColor_dark);
      color: rgb(100, 205, 205);
}
