footer{
      /* position: fixed; */ 
      left: 0;
      bottom: 0;
      padding: 20px 15%;
      height: auto;
      width: 100%;
      background-color: var(--bgColor_dark);
      color: var(--foreColor);
}

footer > hr {
      border-width: 0px;
      background-color: var(--primary);
      height: 1px;
      margin: 10px 0;
      width: 70%;
}
