.main-log-container{
      padding: 10px;
      width: 50%;
      margin: 50px 25%;
      border-radius: 20px;
      box-shadow: 0px 0px 10px -3px black;
      background-color: var(--bgColor);
      box-sizing: border-box;
      transition: 0.2s;
}
.main-log-container:hover{
      box-shadow: 0px 0px 10px -1px black;
}

.form-grid{
      display: flex;
      flex-direction: column;
}

.form-grid-data-row,
.form-grid-bottom-rows{
      display: flex;
      align-items: center;
}

/* Elemento di sinistra (descrizione del campo) copre solo il 30%*/
.form-grid-data-row > *:first-child {
      flex-basis: 30%;
      margin-right: 10px;
      text-align: right;
}
/* Il secondo elemento copre il resto */
.form-grid-data-row > *:nth-child(2) {
      flex: 1;
}

.form-grid-bottom-rows > *{
      flex: 1;
}
.form-grid-bottom-rows > *.central{
      /*
      flex: none;
      flex-basis: 30%;
      margin-left: 35%;
      margin-top: 20px;
      margin-bottom: 20px;
      */
}

.show-password{
      border-radius: 25%;
      background-image: url('../media/png/hide.png');
      background-size: 60% auto;
      background-position: center;
      background-repeat: no-repeat;
      padding: 18px;
}

.input-description{
      padding: 10px;
      margin-bottom: 30px;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 5px;
}
.input-description.input-error{
      text-align: center;
      background-color: rgba(255, 0, 0, 0.3);
      color: red;
      border: 1px solid red;
}
.input-description.input-info{
      text-align: left;
      display: block;
      background-color: rgba(137, 137, 137, 0.17);
      color: var(--foreColor);
      border: 1px solid var(--secondary);
}
.input-description.right-side{
      margin-left: calc(30% + 20px);
}
.form-grid .input-description{
      display: none;
}