@font-face {
      font-family: SwiftRegularSC;
      src: url(font/swift-regular-sc.otf);
}
/*
NOTA PER WARNING
Il validatore CSS genera warning per ogni variabile che incontra nei singoli file,
in quanto la dichiarazione delle variabili è in un file distinto. 
*/

body{
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* Altezza minima = altezza della finestra */
      padding: 0px;
      margin: 0px;
      overflow-x: hidden;
      background-color: var(--bgColor);
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: var(--foreColor);
}

body > *{
      padding: 0px 2%;
}

a{
      text-decoration: none;
}

h3{
      margin-left: 25px;
}

/* Article / Section */
article, section{
      padding: 10px;
      background-color: var(--bgColor);
}

/* Elementi comuni */

select, input, button, a.button-like {
      padding: 10px 21px;
      margin: 5px 10px;
      color: var(--foreColor_light);
      box-shadow: none;
      border-radius: 2px;
      border-width: 0px;
      border-style: solid;
      transition: 0.1s;
      text-decoration: none; 
      text-align: center;
      font-size: small;
      box-sizing: border-box;
}

/* Bottoni */
button, a.button-like{ 
      background-color: var(--primary_dark);
}
button:hover, a.button-like:hover{
      background-color: var(--secondary);
}
button:active, a.button-like:active{
      background-color: var(--secondary_light);
}
/* Bottoni più rilevanti*/
button.important, a.button-like.important{
      background-color: var(--secondary_dark);
}
button.important:hover, button.important:active,
a.button-like.important:hover, a.button-like.important:active{
      background-color: var(--secondary);
}

/* Select e options */
select{
      background-color: var(--primary);
}
select:hover, select:active{
      background-color: var(--primary_light);
}
select:focus{
      background-color: var(--primary);
}
select:disabled{
      color: var(--foreColor_dark);
      background-color: grey;
}
optgroup{
      background-color: var(--bgColor);
      color: var(--primary_light);
}
option{
      background-color: var(--bgColor);
      color: var(--foreColor);
}


/* Input */
input{ 
      border-radius: 5px;
      background-color: var(--bgColor_dark);
}
input[type="file"]{
      padding: 5px 20px;
}
input:hover{
      background-color: var(--secondary_light);
}
input:active{
      background-color: var(--secondary_light);
}
input:invalid{
      color:red;
}
/*
NOTA PER WARNING
Il validatore CSS genera un warning per '::-webkit-file-upload-button is a vendor extended pseudo-element',
questa parte è necessaria per stilizzare il bottone di upload di un input di tipo file in firefox
*/
input[type="file"]::-webkit-file-upload-button {
      padding: 10px 21px;
      margin-right: -10px;
      color: var(--foreColor_light);  
      background-color: var(--primary_dark);
      box-shadow: none;
      border-radius: 2px;
      border-width: 0px;
      border-style: solid;
      transition: 0.1s;
      text-decoration: none; 
      text-align: center;
      font-size: small;
      box-sizing: border-box;
}
input[type="file"]::-webkit-file-upload-button:hover{
      background-color: var(--secondary);
}
input[type="file"]::-webkit-file-upload-button:active{
      background-color: var(--secondary_light);
}

/* Tag relativi ai form */
fieldset{
      margin: 20px 0px;
      border-width: 0px;
      line-height: 30px;
}
legend{
      padding: 0px 20px;
      letter-spacing: normal;
      font-weight: bold;
}

/* Sezione nella quale precaricare un'immagine da mostrare quando non ci sono risultati */
.no-result{
      height: 200px;
      background-image: url('../media/.png/no-results.png');
      background-size: auto 50%;
      background-repeat: no-repeat;
      background-position: center center;
      display: none;
}