@font-face {
      font-family: SwiftRegularSC;
      src: url(font/swift-regular-sc.otf);
}

body{
      padding: 0px;
      margin: 0px;
      overflow-x: hidden;
      background-color: var(--bgColor_dark);
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: var(--foreColor);
}

a{
      text-decoration: none;
}

/* Article / Section */
article, section{
      padding: 10px;
      height: auto; 
      background-color: var(--bgColor);
}

/* Search page */
#searchByTextString fieldset{
      height: auto;
      transition: 0.2s;
}
#searchByTextString .closeFieldset{
      float:right;
      width: 30px;
      height: 30px;
      line-height: 10px;
      text-align: center;
      padding: 0px;
      border-width: 2px;
      border-color: #ff0000;
      background-color: #ff5e5e;
      font-weight: 900;
      border-radius: 100px;
}
#searchByTextString .closeFieldset:hover{
      background-color: #ff5e5e;
      background-image: linear-gradient(90deg, red 40%, #ff5e5e 60%);
}


/* Elementi comuni */
button{
      padding: 7px 21px;
      margin:5px 10px;
      color: var(--foreColor_light);  
      background-image: linear-gradient(90deg, var(--bgColor_dark) 40%, var(--primary) 60%);
      background-size: 300% 70%;
      border-width: 0px;
      border-style: solid;
      border-color: var(--primary);
      box-shadow: none;
      transition: 0.2s;
}
input[type="file"]::-webkit-file-upload-button{
      padding: 5px 20px;
      margin: 0px;
      color: var(--foreColor_light);  
      background-image: linear-gradient(90deg, var(--bgColor_dark) 40%, var(--primary) 60%);
      background-size: 300% 110%;
      border-width: 2px;
      border-style: solid;
      border-color: var(--primary);
      border-radius: 5px;
      box-shadow: 1px 1px 7px -1px var(--shadow);
      transition: 0.2s;
}
input[type="file"]::-moz-browse-button{
      padding: 5px 20px;
      margin:0px 10px;
      color: var(--foreColor_light);  
      background-image: linear-gradient(90deg, var(--bgColor_dark) 40%, var(--primary) 60%);
      background-size: 300% 110%;
      border-width: 2px;
      border-style: solid;
      border-color: var(--primary);
      border-radius: 5px;
      box-shadow: 1px 1px 7px -1px var(--shadow);
      transition: 0.2s;
}
button:hover{
      background-position: right center;
}
input:invalid{
      color:red;
}
input:focus:invalid{
      box-shadow: none;
}
fieldset{
      margin: 20px 0px;
      border-width: 2px;
      border-style: solid;
      border-color: var(--primary_light);
      border-radius: 5px;
      line-height: 30px;
}
legend{
      font-weight: bold;
      padding: 0px 20px;
      letter-spacing: normal;
      transition: 0.2s;
}
fieldset:hover legend{
      margin-left: 50px;
}

input[type="text"], 
input[type="mail"], 
input[type="file"], 
input[type="password"] 
{
      padding: 5px;
      color: var(--foreColor);
      background-color: var(--bgColor);
      background-image: linear-gradient(90deg, var(--bgColor) 40%, var(--bgColor_light) 60%);
      background-position: left center;
      background-size: 300% 110%;
      border-width: 0px;
      border-style: solid;
      border-color: var(--bgColor_dark);
      border-radius: 5px;
      box-shadow: 1px 1px 7px -1px  var(--shadow);
      transition: 0.2s;
}

input[type="text"]:hover, 
input[type="mail"]:hover, 
input[type="password"]:hover, 
input[type="file"]:hover, 
input[type="text"]:active, 
input[type="mail"]:active, 
input[type="password"]:active,
input[type="file"]:active
{
      background-position: center center;
}
input[type="text"]:focus, 
input[type="mail"]:focus, 
input[type="password"]:focus,
input[type="file"]:focus
{
      background-position: right center;
}
input[type="radio"] {
      /*
      background-color: var(--primary);
      color: var(--tertiary);
      border-width: 5px;
      border-style: solid;
      border-color: var(--tertiary);
      border-radius: 100%;
      width:20px;
      height:40px;
      */
  /* Add if not using autoprefixer */
      appearance: none;
      background-color: #fff;
      margin: 0;
      font: inherit;
      color: currentColor;
      width: 1.15em;
      height: 1.15em;
      border: 0.15em solid currentColor;
      border-radius: 50%;
}
select{
      padding: 5px;
      color: var(--foreColor);
      background-color: var(--bgColor);
      background-image: linear-gradient(90deg, var(--bgColor) 40%, var(--bgColor_light) 60%);
      background-size: 300% 110%;
      border-width: 0px;
      border-style: solid;
      border-color: var(--bgColor_dark);
      border-radius: 5px;
      box-shadow: 1px 1px 7px -1px  var(--shadow);
      transition: 0.2s;
}
select:hover, select:active{
      background-position: center center;
}
select:focus{
      background-position: right center;
}
optgroup{
      color: var(--primary_light);
}
option{
      color: var(--foreColor);
      background-color: var(--bgColor);
}