header{
      padding: 10px 100px;
      height: auto; 
      background-color: var(--bgColor_dark);
      /* background-image: url('../media/.webp/wallpaper.webp'); */
      background-image: url('../media/.jpg/wallpaper.jpg');
      background-size: cover;
      background-attachment: fixed;
      background-position: top center;
      text-align: center;
      font-family: SwiftRegularSC;
}
header>p{
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0px;
}
header>p:first-child{
      font-size: x-large;
      font-weight: bolder;
      margin-top: 10px;
      margin-bottom: 10px;
}
header>p:nth-child(2){
      font-size: large;
      margin-top: 5px;
      margin-bottom: 5px;
}
