header{
      padding: 10px 100px;
      height: auto; 
      background-color: var(--bgColor_dark);
      /* background-image: url('../media/.webp/wallpaper.webp'); */
      background-image: 
            linear-gradient(90deg, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 80%),
            url('../media/.jpg/samantha-gades-gKjLLN1T8HQ-unsplash.jpg');
      background-size: 
            cover,
            auto 100%;
      background-attachment: fixed, fixed;
      background-position: 
            center center,
            bottom center;
      text-align: center;
      font-family: SwiftRegularSC;
}
header>p{
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0px;
}
header>p:first-child{
      font-size: x-large;
      font-weight: bolder;
      margin-top: 10px;
      margin-bottom: 10px;
}
header>p:nth-child(2){
      font-size: large;
      margin-top: 5px;
      margin-bottom: 5px;
}
