/* Barra di navigazione */
nav{
      z-index: 99;
      position: sticky;
      top: 0;
      height: 4em;
      width: auto;
      padding: 0;
      border-style: solid;
      border-width: 0px;
      border-color: var(--bgColor);
      border-radius: 0;
      background-color: var(--bgColor_dark);
      color: var(--foreColor);
      box-shadow: none;
}
nav a{
      color: var(--foreColor);
}

/* Elementi della barra di navigazione */
.navbar-main-element{
      position: relative;
      float: left;
      display: block;
      transition: 0.2s;
      width: auto;
      height: 2.5em;
      padding: 0.75em 2em;
      border-width: 0px;
      background-color: var(--bgColor_dark);
      background-image: linear-gradient(0deg, var(--bgColor_dark) 40%, var(--bgColor_light) 60%);
      background-size: 100% 300%;
      background-position: center bottom;
      line-height: 2.5em;
}
.navbar-main-element:hover{
      background-color: var(--bgColor_light);
      background-position: center top;
      color: var(--foreColor_light);
}

/* Pagina attuale */
.current-page{
      font-weight: bold;
      color: var(--primary_dark) !important;
}
.current-page:hover{
      font-weight: bold;
      color: var(--primary_light) !important;
}
/* ELemento della barra di navigazione che rimane a destra */
.navbar-main-element.floating{
      float: right;
}

/* Elemento dropdown della navbar, che all'hover mostra altre opzioni */
/* nb: richiede che sia figlio di un elemento navbar-dropdown-main */
.navbar-dropdown-container{
      display: none;
      position: absolute;
      margin-top: 0.75em;
      margin-left: -2em;
}
.navbar-dropdown-main:hover .navbar-dropdown-container{
      display: block;
      width: 100%;
}
/* Se anche l'elemento principale della dropdown è un link */
.navbar-main-element.navbar-dropdown-main > a {
      background-color: transparent;
      background-image: none;
      padding: 0;
}
.navbar-dropdown-container.with-title{
      margin-top: 3.25em;
}

.navbar-main-element.dropdown-title{
      float: none;
      padding: 0;
}

.navbar-dropdown-option{
      display: block;
      float: none;
      height: 2.5em;
      padding: 0.5em 0em;
      line-height: 2.5em;
      background-color: var(--bgColor_dark);
      background-image: linear-gradient(90deg, var(--bgColor_dark) 40%, var(--bgColor_light) 60%);
      background-size: 300% 100%;
      background-position: left center;
      text-align: center;
      transition: 0.2s;
}
.navbar-dropdown-option:hover{
      background-color: var(--bgColor_light);
      background-position: right center;
      color: var(--foreColor_light);
}