nav{
      z-index: 99;
      position: sticky;
      top: 0;
      height: 4em;
      width: auto;
      padding: 0;
      border-style: solid;
      border-width: 0px;
      border-color: var(--bgColor);
      border-radius: 0;
      background-color: var(--bgColor_dark);
      color: var(--foreColor);
      /* box-shadow: 0px 2px 8px 4px var(--shadow); */
      box-shadow: none;
}
.navbarElement{
      position: relative;
      float: left;
      display: block;
      transition: 0.2s;
      width: auto;
      height: 2.5em;
      padding: 0.75em 2em;
      border-width: 0px;
      background-color: var(--bgColor_dark);
      background-image: linear-gradient(0deg, var(--bgColor_dark) 40%, var(--bgColor_light) 60%);
      background-size: 100% 300%;
      background-position: center bottom;
      color: var(--foreColor);
      line-height: 2.5em;
}
.currentPage{
      font-weight: bold;
      color: var(--tertiary);
}
.logoutElement{
      float: right;
      text-align: center;
}
.logoutElement > span{
      text-align: center;
      color: #ff6161;
      transition: 0.2s;
}
.navbarElement:hover{
      background-color: var(--bgColor_light);
      background-position: center top;
      color: var(--foreColor_light);
}
.currentPage:hover{
      font-weight: bold;
      color: var(--tertiary_light);
}
.logoutElement:hover > span{
      color: #cb0000;
}

.navbarDropDown{
      float: right;
      /* margin-right: 4em; */
      width: 70px;
      text-align: center;
}
.themeOptionsContainer{
      margin-top: 0.75em;
      margin-left: -2em;
      display: none;
      position: absolute;
      box-shadow: 0px 5px 10px 0px var(--shadow);
}
.navbarDropDown:hover .themeOptionsContainer{
      display: block;
}
.themeOption{
      display: block;
      float: none;
      width: 70px;
      height: 2.5em;
      padding: 0.75em 2em;
      line-height: 2.5em;
      background-color: var(--bgColor);
      background-image: linear-gradient(90deg, var(--bgColor) 40%, var(--bgColor_light) 60%);
      background-size: 300% 100%;
      background-position: left center;
      color: var(--foreColor);
      text-align: center;
      transition: 0.2s;
}
.themeOption:hover{
      background-color: var(--bgColor_light);
      background-position: right center;
      color: var(--foreColor_light);
}