.search-method{
      border: 2px solid red;
      font-size: large;
}

.search-method-options-container{
      width: 200px;
      height: 50px;
      border-radius: 25px;
      background-color: var(--bgColor_dark);
      background-image: linear-gradient(90deg, var(--bgColor_dark) 33%, var(--primary_light) 33%, var(--primary_light)  67%, var(--bgColor_dark) 67%);
      background-size: 151% 100%; /* vado un po' oltre per il 33% e 66% non esatti*/
      transition: 0.2s;
      display: inline-flex;
}

.search-method-options-container.text{
      background-position: left center;
}
.search-method-options-container.subject{
      background-position: right center;
}

.search-method-options-container > div{
      width: 100px;
      height: inherit;
      line-height: 50px;
      text-align: center;
      vertical-align: middle;
}