/* Container principali della pagina di ricerca */
.search-options,
.search-results {
      display: flex;
      align-items: stretch;
      padding: 0px;
      background-color: var(--bgColor_light);
}
.search-options > *{
      padding-bottom: 50px;
}
.search-options *,
.search-results *{
      margin-left: 0px;
      margin-right: 0px;
}
.search-options .switch-option-container,
.search-results .switch-option-container{
      width: 90%;
}
.search-options > *:first-child,
.search-results > *:first-child {
      flex-basis: 20%;
      padding: 30px 10px;
      text-align: center;
      box-sizing: border-box;
      /* border-right: 2px solid var(--primary); */
      background-color: var(--bgColor);
}
.search-options > .search-method,
.search-results > *:nth-child(2){
      flex: 1;
      padding: 10px;
      background-color: var(--bgColor_light);
}
.left-side-options > *{
      margin-top: 20px;
}
.left-side-options label{
      display: block;
      margin-bottom: 5px;
}
.match-options{
      display: flex;
      align-items: stretch;
}
.match-options fieldset{
      flex-direction: row;
      border: 0px;
      border-radius: 20px;
      transition: 0.2s;
}
.match-options fieldset:hover{
      background-color: var(--bgColor);
}
.match-options fieldset > *{
      flex: 1;
}
.cfu-filter button{
      height: 30px;
      width: 30px;
      padding: 0px;
      margin: 0px 5px;
      border: 2px solid var(--primary);
      line-height: 26px;
}
.cfu-filter button:nth-of-type(1){
      border-radius: 20px 0px 0px 20px;
}
.cfu-filter button:nth-of-type(2){
      border-radius: 0px 20px 20px 0px;
}

/* Ordinamento dei risultati */

.search-results select{
      width: 90%;
      border-radius: 5px;
}

.flip-order{
      width: 90%;
      margin-left: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      border-radius: 5px;
}

.extentionFilter > .form-grid-data-row > *:nth-child(2) {
      text-align: left;
}