
.graph-container{
      background-color: var(--bgColor_light);
      padding: 20px 60px;
      margin: 20px 100px 40px 100px;
      border-radius: 20px;
      border: 2px solid var(--bgColor_dark);
      display: grid;   
}
.graph-container > *{
      grid-area: 1 / 1;
}
#graphContainer{
      z-index: 2;
      padding-bottom: 30px;
}
.graph-lines{
      left: 50px;
      position: relative;
      z-index: 1;
}
.vertical-line{
      position: absolute;
      top: 60px;
      bottom: 0;
      width: 0.1em;
      background-color: var(--foreColor);
}
.vertical-line-value{
      position: absolute;
      background-color: var(--bgColor_light);
      text-align: center;
      width: 70px;
}
.vertical-line-value.top{
      top: 60px;
      border-bottom: 0.1em solid var(--foreColor);
}
.vertical-line-value.bottom{
      border-top: 0.1em solid var(--foreColor);
      bottom: 0px;
}

/* Container di un elemento del grafico */
.graph-element-container{
      display: flex;
      height: 30px;
      margin-bottom: 5px;
      transition: 0.2s;
}
#graphContainer > h3{
      margin-bottom: 50px;
}

/* Valore dell'elemento */
.graph-element-value{
      flex: 0 0 50px;
      line-height: 30px;
      align-items: center;
      transition: 0.2s;
}

/* Barra dell'elemento */
.graph-element-bar{
      flex: 0 0 auto;
      overflow: visible;
      white-space: nowrap;
      padding-left: 10px;
      font-size: smaller;
      background-color: var(--primary);
      transition: 0.2s;
}
.graph-element-bar-text{
      transition: 0.2s;
      line-height: 30px;
}

/* Informazioni sul numero di uploads and downloads */
.graph-element-additional-info{
      height: 0px;
      overflow: hidden;
      line-height: 20px;
      margin-left: 30px;
      transition: 0.2s;
}
.graph-element-additional-info > span:first-of-type{
      text-transform: uppercase;
}

/* Modifiche grafiche */
.graph-element-container:nth-of-type(even) > .graph-element-bar{
      background-color: var(--primary_dark);
}
.graph-element-container:hover .graph-element-bar{
      background-color: var(--secondary);
}
.graph-element-container:hover .graph-element-bar-text{
      padding-left: 15px;
      font-weight: bold;
}

.graph-element-container.open{
      height: 80px;
}
.graph-element-container.open .graph-element-additional-info{
      height: 45px;
      overflow: visible;
}

#selection-group > *{
      overflow: hidden;
}


.graph-options{
      
}
.graph-options > .form-grid-bottom-rows p{
      line-height: 10px;
}
.graph-options > .form-grid-bottom-rows{
      margin-top: 15px;
}
.graph-options select{
      width: 100%;
      border-radius: 0px;
      height: 100%;
}

.fill{
      margin: 0px;
      width: 100%;
      height: 100%;
      border-radius: 0px;
}

.form-grid-data-row{
      margin-top: 10px;
}