
.graphContainer{
      padding: 20px;
      min-width: 50%;
      min-height: 400px;
      border-width: 2px;
      border-style: solid;
      border-color: #ff0000;
      overflow: hidden;
      /*
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; 
            align-items: flex-end;
      */
}
.graphValue{
      width: 40px;
      height: 20px;
      margin-right: 10px;
      line-height: 20px;
      text-align: right;
      float: left;
}
.graphElement{
      float: left;
      width: 20px;
      height: 20px;
      border-radius: 0px;
      font-size: x-small;
      padding: 0px 10px;
      line-height: 20px;
      background-color: var(--primary);
      transition: 0.2s;
      overflow: visible;
      white-space: nowrap;
      overflow: visible;
}
.graphElement:nth-child(even){
      background-color: var(--primary_dark);
}
.graphElement:hover{
      padding: 0px 0px 0px 20px;
      font-weight: bold;
      background-color: var(--primary_light);
}