
.graph-container{
      padding: 20px;
      min-width: 50%;
      min-height: 400px;
      border-width: 2px;
      border-style: solid;
      border-color: #ff0000;
      overflow: hidden;
}

/* Container di un elemento del grafico */
.graph-element-container{
      display: flex;
      height: 30px;
      margin-bottom: 5px;
      transition: 0.2s;
}

/* Valore dell'elemento */
.graph-element-value{
      flex: 0 0 50px;
      line-height: 30px;
      align-items: center;
      transition: 0.2s;
}

/* Barra dell'elemento */
.graph-element-bar{
      flex: 0 0 auto;
      overflow: visible;
      white-space: nowrap;
      padding-left: 10px;
      line-height: 30px;
      font-size: smaller;
      background-color: var(--primary);
      transition: 0.2s;
}

/* Modifiche grafiche */
.graph-element-container:nth-of-type(even) > .graph-element-bar{
      background-color: var(--primary_dark);
}
.graph-element-container:hover{
      height: 50px;
}
.graph-element-container:hover > .graph-element-bar{
      background-color: var(--primary_light);
      line-height: 50px;
      font-weight: bold;
      padding-left: 30px;
}
.graph-element-container:hover > .graph-element-value{
      line-height: 50px;
}

#selection-group > *{
      overflow: hidden;
}

select{
      width: 100%;
      border-radius: 0px;
      height: 100%;
}