:root{
      --bgColor: #1f1f1f;
      --bgColor_light: #2d2d2d;
      --bgColor_dark: #151515;

      --foreColor: #d6d6d6;
      --foreColor_light: #ffffff;
      --foreColor_dark: #a3a3a3;

      --primary: #00284a;
      --primary_light: #003c71; /* Colore ufficiale UniPi: Blu Pantone Coated 541*/
      --primary_dark: #00162a;

      --secondary: #960064;
      --secondary_light: #bc007d;
      --secondary_dark: #75004e;
}
