:root{
      --bgColor: #2f2f2f;
      --bgColor_light: #3f3f3f;
      --bgColor_dark: #191919;

      --foreColor: #d3d3d3;
      --foreColor_light: #ffffff;
      --foreColor_dark: #aeaeae;

      --primary: #0067c2;
      --primary_light: #0a83ee;
      --primary_dark: #045caa;

      --secondary: #00b975;
      --secondary_light: #10df93;
      --secondary_dark: #018a58;
}