:root{
      --bgColor: #2f2f2f;
      --bgColor_light: #3f3f3f;
      --bgColor_dark: #191919;

      --foreColor: #d3d3d3;
      --foreColor_light: #ffffff;
      --foreColor_dark: #aeaeae;

      --primary: #003c71; /* UniPi official color: Blu Pantone Coated 541*/
      --primary_light: #00559f;
      --primary_dark: #002c53;

      --secondary: #bf4a73;
      --secondary_light: #ca698b;
      --secondary_dark: #922149;

      --tertiary: #39b577;
      --tertiary_light: #5fc391;
      --tertiary_dark: #258254;
      
      --shadow: #101010;
}