:root{
      --bgColor: #f0f0f0;
      --bgColor_light: #ffffff;
      --bgColor_dark: #c0c0c0;

      --foreColor: #1c1c1c;
      --foreColor_light: #303030;
      --foreColor_dark: #101010;

      --primary: #8eb3d3;
      --primary_light: #99bad7;
      --primary_dark: #7ba4c8;

      --secondary: #ff8552;
      --secondary_light: #ffa984;
      --secondary_dark: #cc4d33;

      --tertiary: #39b577;
      --tertiary_light: #71e3aa;
      --tertiary_dark: #258254;
      
      --shadow: #2a2a2a;
}