:root{
      --bgColor: #f0f0f0;
      --bgColor_light: #ffffff;
      --bgColor_dark: #c0c0c0;

      --foreColor: #1c1c1c;
      --foreColor_light: #303030;
      --foreColor_dark: #101010;

      --primary: #41c9ff;
      --primary_light: #70d6ff;
      --primary_dark: #28a8db;

      --secondary: #52ffa3;
      --secondary_light: #8bffc1;
      --secondary_dark: #2fc876;
}