:root{
      --bgColor: #003c71; /* UniPi official color: Blu Pantone Coated 541*/
      --bgColor_light: #00559f;
      --bgColor_dark: #002c53;

      --foreColor: #d6d6d6;
      --foreColor_light: #ffffff;
      --foreColor_dark: #a3a3a3;

      --primary: #0b1b29; /* UniPi official color: Blu Pantone Coated 541*/
      --primary_light: #102d45;
      --primary_dark: #09121a;

      --secondary: #ff8552;
      --secondary_light: #ffa984;
      --secondary_dark: #cc4d33;

      --tertiary: #39b577;
      --tertiary_light: #71e3aa;
      --tertiary_dark: #258254;
      
      --shadow: #101010;
}
